<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class='field'>
     <%= f.text_field :name, placeholder: 'enter your name' %>
  </div>
  <div  class='field'>
     <%=f.label :Age %>
     <%=f.date_field :age %>
  </div>
  <div class= 'field'>
     <%= f.label :Gender  %> <br>
     <%= f.select :gender, collection: User::GENDER %> 
  </div>
  <div class='field'>
     <%= f.text_field :username, placeholder: 'enter a username' %>
  </div>
  <div class='field'>
     <%= f.label :District %> <br>
     <%= f.select :district, collection: User::DISTRICT %>
  </div>
  <div class='field'>
  <%= f.label :Country_residence %> <br>
  <%= country_select('user', 'residence') %>
  </div>



  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class='field'>
     <%= f.label :Profile_Photo %>
     <%= f.file_field :profile %>
  </div>



  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
