<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :About %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    
    <%= form.text_area :content, placeholder: 'share your post here', rows:4, styles:'border-radius:5px' %>
  </div>
  <div class='field'>
  <%=form.label :Image_upload %>
  <%=form.file_field :image %>
  </div>

   <div class='field'>
  <%=form.label :Video_upload %>
  <%=form.file_field :video %>
  </div>

  <div class="actions">
    <%= form.submit 'upload' %>
  </div>
<% end %>
