<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<%= render 'form', post: @post %>



 
    <% @posts.each do |post| %>
      
         <div class='indexpost'>
<div class='headpost'>
         
         <%= image_tag post.user.profile, size:'40x40', style:'border-radius:50%' %> 
         <strong class='username'><%= post.user.name %></strong> 
</div>
        <%= post.title %> <br>
        <%= post.content %>
        <% if post.id != current_user.id %>
        <%= link_to 'Show', post %>
        <% else %>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <%end %>
    <% end %>
    </div>
  




<%= link_to 'New Post', new_post_path %>


