<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<%= render 'create'%>


 <div class='indexpost'>
 
    <% @posts.each do |post| %>
<div class="individual">    
<div class='headpost'>
         
         <%= link_to image_tag(post.user.profile, size:'40x40', style:'border-radius:50%'), profile_path(post.user) %> 
         <strong class='username'><%= link_to post.user.name, profile_path(post.user)%></strong> 
</div>
        <%= post.title %> <br>
        <%= post.content %> <br>
        <% if post.image.attached? %>
        <%= image_tag post.image, size:'350x300',class:'photo' %> <br>
        <%end%>
        <% if post.user_id != current_user.id %>
        <%= link_to 'Show', post %>
        <% else %>
        <button id="btn"><%= link_to 'Show', post %></button>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      <%end %>
      </div>
    <% end %>
    
    


    </div>
  








<script src="assets/javascripts/posts.js"></script>


